/GNUmakefile
/build/
/.cache/
/.vscode/
*.pyc
__pycache__/
vpu_slow
vpu_fast
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov
vpu-qemu-gpu-host-1-vpu-gleaming-seal.md
.humanize*
.codex
