bin/
_riscv-llvm-stage/
conflux-runtime/build/
pocl/build/
pocl/build-cross/
pocl/build-riscv/
pocl-install-riscv/

# 内核模块构建产物
driver/*.ko
driver/*.o
driver/.*.cmd
driver/Module.symvers
driver/modules.order
driver/.tmp_versions/
